{% extends 'base.html' %}

{% block head %}



	{% block style %}
		body{

	background:whitesmoke;
	}
	
	
	
	header h1 {
	background:black;
	color:white;
	padding:10px;
	text-align:center;
	text-transform:capitalize;
	font-size:36px;
	}
	header p{
	font-size:24px;
	
		text-transform:capitalize;
	}
	
	button{
	display:block;
	width:50%;
	height:40px;
	font-size:24px;
	
	position:absolute;
	top:50%;
	margin-top:-20px;
	left:50%;
	margin-left:-25%;
	
	border-left:4px solid green;
	outline:none;
	
	
	}
	.btn{
	
	top:45%;
	
	 {% endblock %}
	 
	 
	 {% endblock %}
	 
	 
	 

{% block header %}
<header>
<h1>my personal bank</h1>
<p>welcome to mpb,</p>
</header>

{% endblock %}

{% block content %}

<section>
<p>Dear <b>{{user.get_full_name}},</b>   {{confirm}} your password</p>



<a href="/"><button> home</button></a>

	<a href="{% url 'account:profile' %}">profile</a>
	


</section>

{% endblock %}
