{% extends 'base.html' %}




	{% block style %}
	
	
		header h1 {
	background:black;
	color:white;
	padding:10px;
	text-align:center;
	text-transform:capitalize;
	font-size:36px;
	}
	header p{
	font-size:24px;
	
		text-transform:capitalize;
	}


	 {% endblock %}

{% block header %}
<header>
<h1>my personal bank</h1>
<p>welcome to mpb,</p>
</header>

{% endblock %}

{% block content %}











{{next}}
<form method='post' action=" ">
{% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
  
  
  <p>Forgot password?  
<a href="{% url 'password_reset' %}"> reset password </a>
</p>

{% endblock %}
